

h1{
    text-align: center;


}
h2 {
    text-align: center;
    font-size: 23px;
}

/*Lukaš dont delete this*/
h3{
    text-align: center;
    font-size: 23px;
}


.createPost{
    padding: 10px;
    background:  #828780;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: flex;
}

.box {
    width: 100%;

    background: #fff;
    position: center;
    position: center;
    margin-right: 20px;
}

